/* -------------  ν‘Έν„° ------------- */




footer {
    background-color:rgb(140, 247, 225);
    height: 130px;
    font-size: 13px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .box {
	width : 1200px;
	height: 80px;
}

/* -------------  ν‘Έν„° ------------- */


@media (min-width:768px) and (max-width:1023px) {
}
@media  (max-width:767px) {
	footer {
		height: 100px; 
	}
	
	footer .box {
		width : 90%;
	}

}